/////////////////////////////// Кнопки ///////////////////////////////

.btn{
	padding: 16px 24px;
	border-radius: 12px;
	@extend .text-default-bold;

	&:hover{
		opacity: 0.8;
	}
	&_black{
		background-color: $black;
		color: $white;
	}
	&_white{
		background-color: $white;
		color: $black;
	}
}

.btnM{
	text-decoration: none !important;
	border-radius: 8px;
	padding: 4px 16px;
	&_gray{
		background-color: $lightGray;
		color: $darkGray;
	}
	&_black{
		color: $white;
		background-color: $black;
	}
	&:hover{
		opacity: 0.8;
	}
}

////////////////////////// инпуты /////////////////////////////////

.inputText{
	position: relative;
	input:-webkit-autofill {
	    -webkit-box-shadow: inset 0 0 0 50px white; /* цвет вашего фона */
	    -webkit-text-fill-color: black; /* цвет текста */
	    & + label{
	    	top: 8px;
	    }
	}
	input[type="text"], input[type="password"], textarea{
		border: 2px solid $darkGray;
		border-radius: 12px;
		padding: 14px;
		height: 56px;
		padding: 13px 14px;
		width: 100%;
		font-size: 20px;
		line-height: 24px;
		outline: none;
		-webkit-appearance: none;
	    -moz-appearance: none;
		position: relative;
		&._error{
			border: 2px solid $red;
		}
	}
	input[type="text"] + label, input[type="password"] + label, textarea + label{
		max-width: calc(100% - 16px);
		position: absolute;
		left: 12px;
		top: calc(50% - 14px);
		padding: 0 4px;
		background-color: $white;
		pointer-events: none;
		font-size: 20px;
		line-height: 24px;
		color: $darkGray;
		transition: all 0.2s ease 0s;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	input[type="text"]:disabled + label, input[type="password"]:disabled + label, textarea:disabled + label{
		//background-color: transparent;
	}
	input:focus, textarea:focus, input:not(:placeholder-shown), textarea:not(:placeholder-shown){
		//padding: 26px 16px 6px 16px;
	}
	input:focus + label, textarea:focus + label, input:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label{
		top: -12px;
	}
	textarea{
		resize: none;
		height: 112px;
	}
	textarea + label{
		top: 8px;
	}
	::-webkit-input-placeholder {
	  opacity: 0;
	}
	&.hidePlaceholder{
		input:focus + label, textarea:focus + label, input:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label{
			display: none;
		}
	}
	&__link{
		position: absolute;
		right: 16px;
		color: $darkGray;
		top: 50%;
		transform: translateY(-50%);
	}
}

.inputCheckbox{
	> * {
		cursor: pointer;
	}
	input[type="checkbox"]{
		visibility: hidden;
		display: none;
	}
	input[type="checkbox"] + label{
		display: flex;
		align-items: flex-start;
		span{
			padding-left: 8px;
		}
		.st-1{fill: $black;}
		.st-2{visibility: hidden;}
	}
	input[type="checkbox"]:checked + label{
		.st-1{visibility: hidden;}
		.st-2{visibility: visible; fill: $black;}
	}
}

////////////////////////// Карточки //////////////////////////////

.card-v1{
	box-shadow: $boxShadow;
	border-radius: 24px;
	background: $white;
	padding: 32px;
	height: 100%;
	&.mod-md-p-16{
		@media (max-width:$md4+px) {
		    padding: 16px;
		}
	}
}

//////////////////////// Прочее /////////////////////////////////////

.error{
	color: $red;
}

/////////////////////////////////////////////////////////////////////