/////////////////////////////// Кнопки ///////////////////////////////

.btn{
	padding: 16px 24px;
	border-radius: 12px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	@extend .text-default-bold;
	&__price{
		margin-left: 32px;
		@media (max-width:$md4+px) {
		    margin-left: 8px;
		}
	}
	&:hover{
		opacity: 0.8;
		text-decoration: none;
	}
	&_black{
		background-color: $black;
		color: $white;
		fill: $white;
	}
	&_white{
		background-color: $white;
		color: $black;
	}
	&_light{
		background-color: $lightGray;
		color: $black;
	}
	&.jcsb{
		justify-content: space-between;
	}
	@media (max-width:$md4+px) {
	    padding: 16px;
	}
}

.btn-2{
	text-decoration: none !important;
	border-radius: 8px;
	padding: 4px 16px;
	display: inline-flex;
	@extend .text-default-bold;
	&_gray{
		background-color: $lightGray;
		color: $darkGray;
	}
	&_black{
		color: $white;
		background-color: $black;
	}
	&_white{
		color: $black;
		background-color: $white;
	}
	&.ta-c{
		display: block;
	}
}
button.btn-2:hover, a.btn-2:hover{
	opacity: 0.8;
}

.btn-3{
	cursor: pointer;
	display: flex;
	background: rgba(48, 52, 56, 0.25);
	transition: all 0.1s ease 0s;
	border-radius: 99px;
	&:hover{
		transition: all 0.1s ease 0s;
		background: rgba(48, 52, 56, 1);
	}
	svg{
		fill: $white;
	}
}

.btnRound{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	box-shadow: $boxShadow;
	border-radius: 99px;
	transform: scale(1);
	transition: scale 0.2s ease 0s;
	&.btn-next{
		transform: rotate(180deg);
	}
	&:hover{
	    transition: scale 0.2s ease 0s;
		transform: scale(1.2);
		&.btn-next{
			transform: rotate(180deg) scale(1.2);
		}
	}
	&_black{
		background-color: $black;
		fill: $white;
	}
	&.sliderBtn{
		z-index: 20;
		position: absolute;
		top: calc(50% - 100px);
		&.btn-prev{ left: 0px; }
		&.btn-next{ right: 0px; }
		@media (max-width:($md3+px)) {
		    display: none !important;
		}
		@media (max-width:(1384+px)) {
			&.btn-prev{ left: 28px; }
		    &.btn-next{ right: 28px; }
		}
	}
	&.btnPlayVideo{
		position: absolute;
		z-index: 4;
		top: calc(50% - 20px);
		left: calc(50% - 20px);
		padding: 10px;
		background: rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(10px);
		svg{
			fill: $white;
			transform: translate(1px, 1px);
		}
	}
	&.feedbackBtn{
		z-index: 20;
		position: absolute;
		top: calc(50% - 24px);
	    left: 24px;
	    opacity: 1 !important;
	    visibility: visible !important;
		&.btn-close{
			top: 16px;
			left: auto;
			right: 16px;
		}
		&.btn-prev{
			transform: rotate(-90deg);
			&:hover{
				transform: rotate(-90deg) scale(1.2);
			}
		}
		&.btn-next{
			left: auto;
			right: 24px;
			transform: rotate(90deg);
			&:hover{
				transform: rotate(90deg) scale(1.2);
			}
		}
	}
}

.btnIcon{
	background-color: transparent;
	svg{
		opacity: 0.5;
		fill: $red;
	}
	&:hover{
		svg{
			opacity: 1;
		}
	}
}

.btnControl{
	position: absolute;
	width: 40px;
	height: 40px;
	padding: 8px;
	z-index: 3;
	background-color: transparent;
	border-radius: 99px;
	background: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	svg{
		fill: $white;
	}
}

////////////////////////// Инпуты /////////////////////////////////

.inputText{
	position: relative;
	input:-webkit-autofill {
	    -webkit-box-shadow: inset 0 0 0 50px white; /* цвет вашего фона */
	    -webkit-text-fill-color: black; /* цвет текста */
	    & + label{
	    	top: 8px;
	    }
	}
	input[type="text"], input[type="password"], textarea{
		border: 2px solid $lightGray;
		border-radius: 12px;
		padding: 14px;
		height: 56px;
		padding: 13px 14px;
		width: 100%;
		font-size: 20px;
		line-height: 24px;
		outline: none;
		-webkit-appearance: none;
	    -moz-appearance: none;
		position: relative;
		&._error{
			border: 2px solid $red;
		}
	}
	input[type="text"] + label, input[type="password"] + label, textarea + label{
		max-width: calc(100% - 16px);
		position: absolute;
		left: 12px;
		top: calc(50% - 12px);
		padding: 0 4px;
		background-color: $white;
		pointer-events: none;
		font-size: 20px;
		line-height: 24px;
		color: $darkGray;
		transition: all 0.2s ease 0s;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	input[type="text"]:disabled + label, input[type="password"]:disabled + label, textarea:disabled + label{
		//background-color: transparent;
	}
	input:focus, textarea:focus, input:not(:placeholder-shown), textarea:not(:placeholder-shown){
		//padding: 26px 16px 6px 16px;
	}
	input:focus + label, textarea:focus + label, input:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label{
		top: -12px;
	}
	textarea{
		resize: none;
		height: 112px;
	}
	textarea + label{
		top: 8px;
	}
	::-webkit-input-placeholder {
	  opacity: 0;
	}
	&.hidePlaceholder{
		input:focus + label, textarea:focus + label, input:not(:placeholder-shown) + label, textarea:not(:placeholder-shown) + label{
			display: none;
		}
	}
	&__link{
		position: absolute;
		right: 16px;
		color: $darkGray;
		top: 50%;
		transform: translateY(-50%);
	}
}

.inputBtn{
	display: inline-block;
	text-decoration: none !important;
	cursor: pointer;
	background-color: $black;
	color: $white;
	border-radius: 12px;
	padding: 16px 24px;
	@extend .bold;
	&:hover{
		opacity: 0.8;
	}
	&_gray{
		background-color: $lightGray;
		color: $darkGray;
	}
}

.inputTextBtn{
	width: 100%;
	display: flex;
	.inputText{
		flex: 1;
		input[type="text"] + label{
			border-radius: 4px;
		}
	}
	.inputBtn{
		position: relative;
		left: -8px;
	}
}

.inputCheckbox{
	> * {
		cursor: pointer;
	}
	input[type="checkbox"]{
		visibility: hidden;
		display: none;
	}
	input[type="checkbox"] + label{
		display: flex;
		align-items: flex-start;
		span{
			padding-left: 8px;
		}
		.st-1{fill: $black;}
		.st-2{visibility: hidden;}
	}
	input[type="checkbox"]:checked + label{
		.st-1{visibility: hidden;}
		.st-2{visibility: visible; fill: $black;}
	}
}

.inputRadio{
	input[type="radio"]{
		visibility: hidden;
		display: none;
	}
	input[type="radio"] + label{
		display: flex;
		align-items: center;
		border-radius: 12px;
		position: relative;
		cursor: pointer;
		padding-left: 40px;
		&:after, &:before{
			content: "";
			position: absolute;
			border-radius: 50%;
		}
		&:after{
			top: calc(50% - 12px);
			left: 0px;
			width: 24px;
			height: 24px;
			border: 2px solid $darkGray;
		}
		&:before{
			z-index: 2;
			top: calc(50% - 6px);
			left: 6px;
			width: 12px;
			height: 12px;
			background-color: $white;
		}
	}
	input[type="radio"]:checked + label{
		&:after{
			border: none;
			background-color: $black;
		}
	}
}

// Убрать стрелки у input[type="number"]
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputPlusminus{
	display: flex;
	input{
		text-align: center;
		border: 2px solid $lightGray;
		margin: 0;
		max-width: 80px;
		border-radius: 0px;
		outline: none;
		&:focus{
			outline: none;
		}
		@extend .text-default-bold;
	}
	button{
		padding: 8px;
		background-color: $lightGray;
		display: flex;
		color: $white;
		font-size: 15px;
		line-height: 18px;
		border-radius: 8px 0px 0px 8px;
		&:last-child{
			border-radius: 0px 8px 8px 0px;
		}
		svg{
			fill: $black;
		}
		&:hover{
			opacity: 0.8;
		}
	}
	&.disabled{
		button{
			cursor: default;
			svg{
				fill: $darkGray;
			}
			&:hover{
				opacity: 1;
			}
		}
	}
}

.switch {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
	&__item {
		padding: 0 8px;
		flex: 33.333%;
		margin-bottom: 16px;
	}
	input{
		display: none;
	}
	label{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 14px;
		border: 2px solid $lightGray;
		cursor: pointer;
		height: 100%;
		border-radius: 12px;
		> *:not(:last-child){
			margin-bottom: 10px;
		}
	}
	input[type="radio"]:checked + label{
		border-color: $black;
	}
}

/////////////////////////// Списки ///////////////////////////////

ul.list{
	> li:not(:last-child){
		margin-bottom: 16px;
	}
	li{
		display: flex;
		&:before{
			content: "";
			flex: 0 0 8px;
			margin: 8px 8px 0 16px;
			top: 8px;
			left: 16px;
			width: 8px;
			height: 8px;
			background-color: $black;
			border-radius: 99px;
		}
	}
}

ol.list{
	> li:not(:last-child){
		margin-bottom: 16px;
	}
	counter-reset: myCounter;
	li{
		padding-left: 16px;
		display: flex;
		&:before{
			content: counter(myCounter)".";
			counter-increment: myCounter;
			padding-right: 8px;
			color: $black;
			@extend .bold;
		}
	}
}

////////////////////////// Карточки //////////////////////////////

.cardSimple {
	box-shadow: $boxShadow;
	border-radius: 24px;
}

.card-v1{
	box-shadow: $boxShadow;
	border-radius: 24px;
	background: $white;
	padding: 32px;
	height: 100%;
	&.mod-md-p-16{
		@media (max-width:($md4+px)) {
		    padding: 16px;
		}
	}
	&.p-24{
		padding: 24px;
	}
}

.card-v2{
	padding: 16px;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 192px;
	> span:not(:last-child){
		margin-bottom: 8px;
	}
	&__image{
		position: absolute;
		top: 16px;
		left: 16px;
		width: 160px;
		height: 160px;
		border-radius: 8px;
		@media (max-width:($md3+px)) {
		    width: 80px;
			height: 80px;
		}
	}
	&__title{
		font-family: "Spectral-Bold-700";
	  	font-size: 28px;
	  	line-height: 130%;
	  	margin-left: 176px;
	  	@media (max-width:($md3+px)) {
	  		margin-left: 96px;
	  	}
	  	@media (max-width:($md_608+px)) {
	  		font-family: "NunitoSans-Bold-700";
  			font-size: 18px;
	  	}
	}
	&__text{
		@extend .text-trim-3;
		margin-left: 176px;
		@media (max-width:($md3+px)) {
	  		margin-left: 96px;
	  	}
	}
	&:hover{
		border-radius: 24px;
		text-decoration: none;
		background-color: $lightGray;
	}
}

.card-v3{
	border: 2px solid $lightGray;
	border-radius: 24px;
	padding: 24px;
	@media (max-width:($md4+px)) {
	    padding: 16px;
	}
}

.card-v4{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding: 24px;
	background-color: $lightGray;
	border-radius: 24px;
	height: 100%;
	text-align: center;
	@extend .nlc-mb-24;
	&.mod-v2{
		align-items: flex-start;
		text-align: left;
		img{
			max-width: 100%;
			margin: 0 auto;
		}
	}
}

////////////////////// Флекс-разметки //////////////////////////////

.flexBlock-v1{
	display: flex;
	flex-wrap: wrap;
	margin: -8px -16px;

	&__col{
		flex: 0 0 50%;
		padding: 8px 16px;
		@media (max-width:($md_872+px)) {
		    flex: 0 0 100%;
		}
	}
	&__content{
		height: 100%;
		box-shadow: $boxShadow;
		padding: 24px;
		border-radius: 24px;
		@media (max-width:($md4+px)) {
		    padding: 16px;
		}
	}
}

.flexBlock-v2{
	display: flex;
	flex-wrap: wrap;
	margin: -8px -8px 4px -8px !important;
	&__col{
		flex: 1 1 33.333%;
		min-width: 175px;
		padding: 8px;
		&:not(:last-child){
			margin-bottom: -4px;
		}
	}
}

.flexBlock-v3{
	display: flex;
	flex-wrap: wrap;
	padding: 8px 0px;
	&__col33{
		padding: 8px 16px;
		flex: 0 0 447px;
		@media (max-width:$md2+px) {
		    flex: 0 0 352px;
		}
		@media (max-width:$md3+px) {
		    flex: 0 0 100%;
		}
	}
	&__col66{
		flex: 1;
		padding: 8px 16px;
	}
}


.flexBlock-v4{
	display: flex;
	flex-wrap: wrap;
	margin: -8px -16px;
	&__col{
		padding: 8px 16px;
		flex: 1 1 50%;
		min-width: 255px;
	}
}

.flexBlock-v5{
	display: flex;
	flex-wrap: wrap;
	padding: 8px 0px;
	//margin: 8px -16px;
	&__col{
		flex: 1 1 33.333%;
		padding: 8px 16px;
		min-width: 275px;
	}
}

//////////////////////// Слайдеры //////////////////////////////////

.slider-style-default{
	.slick-track{
		display: flex;
	}

	.slick-list {
		overflow: hidden;
	}
}

///////////////////// breadcrumbs //////////////////////////

.breadcrumbs {
	&__link {
		&:not(:first-child){
			padding-left: 24px;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				top: calc(50% - 8px);
				left: 4px;
				width: 16px;
				height: 16px;
				background: url('../img/sprite/icons-sprite.svg#breadcrumbsNav') 0 0 / cover no-repeat;
				background-position: 50% 50%;
			}
		}
	}
}

//////////////////////////// Картинки /////////////////////////////

.iconRound{
	background-color: $black;
	border-radius: 99px;
	flex: 0 0 40px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image-hw-80{
	height: 80px;
	width: 80px;
	flex: 0 0 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $white;
	img{
		width: 100%;
		height: 100%;
	}
}

.image-hw-120{
	height: 120px;
	width: 120px;
	flex: 0 0 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
	position: relative;
	img{
		width: 100%;
		height: 100%;
		border-radius: 8px;
	}
}

.image-hw-200{
	height: 200px;
	width: 200px;
	flex: 0 0 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $white;
	img{
		width: 100%;
		height: 100%;
		border-radius: 8px;
	}
}

//////////////////////// Выпадающие списки ////////////////////////

.dropdown{
	&__item{
		position: relative;
		.btnRound{
			transition: all 0.3s ease 0s;
			transform: rotate(180deg);
		}
		&.active{
			.btnRound{
				transform: rotate(0deg);
				transition: all 0.3s ease 0s;
			}
		}
		&:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 16px;
			right: 16px;
			height: 2px;
			background-color: $lightGray;
		}
	}
	&__head{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 32px 16px;
		cursor: pointer;
		p{margin-right: 8px;}
	}
	&__body{
		padding: 16px;
		@extend .nlc-mb-16;
	}
}

////////////////////// Вспывающая подсказка /////////////////////////

.simpleMessage{
	position: fixed;
	bottom: 16px;
	left: 50%;
	transform: translate(-50%, calc(105% + 16px));
	background-color: $black;
	color: $white;
	padding: 16px;
	border-radius: 12px;
	text-align: center;
	z-index: 9999;
	animation: simpleMessage 2s forwards 0s ease;
	@media (max-width:$md4+px) {
	    width: calc(100% - 32px);
	}
}

@keyframes simpleMessage {
 	20% { transform: translate(-50%, 0%);}
 	80% { transform: translate(-50%, 0%);}
 	100% { transform: translate(-50%, calc(105% + 16px));}
}

//////////////////////// Прочее /////////////////////////////////////

.nums{
	counter-reset: myNums;
	&__item{
		width: 40px;
		height: 40px;
		flex: 0 0 40px;
		border: 2px solid $black;
		margin-right: 8px;
		text-align: center;
		border-radius: 99px;
		&:before{
			content: counter(myNums);
			counter-increment: myNums;
			line-height: 38px;
		}
	}
	&_white{
		.nums__item{
			border-color: $white;
		}
	}
}

.label{
	padding: 2px 4px;
	border-radius: 4px;
	@extend .bold;
	&_black{
		color: $white;
		background-color: $black;
	}
}

.label-4{
	border-radius: 12px;
	background-color: $lightGray;
	padding: 16px;
}

.label-gradient{
	background: $lg2;
	border-radius: 8px;
	padding: 4px 16px;
	color: $white;
	@extend .bold;
}

.link{
	text-decoration: underline;
	&:hover{
		opacity: 0.8;
	}
}

.error{
	color: $red;
}

.image-w100-h50{
	position: relative;
	padding-top: 50%;
	img{
		@extend .posa;
	}
}

.svgWithState{
	.st-2{visibility: hidden; opacity: 0;}
	&.active{
		.st-1{visibility: hidden; opacity: 0;}
		.st-2{visibility: visible; opacity: 1;}
	}
}

.userImage {
	border-radius: 99px;
	flex: 0 0 40px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	span{
		background-color: $red;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $white;
		@extend .text-large;
	}
	img{
		@extend .posa;
	}
	img + span{
		display: none;
	}
}

.rating{
	display: flex;
	> *:not(:last-child){
		margin-right: 8px;
	}
	svg{
		width: 22px;
		height: 22px;
		fill: $black;
	}
}

.showHidePassword {
    position: absolute;
    right: 16px;
    top: 16px;
    fill: #ABB2BA;
    cursor: pointer;
}

.horizontalScroller{
	::-webkit-scrollbar {
    	width: 12px;
    	height: 12px;
   		background-color: $lightGray;
   		border-radius: 8px;
   		@media (max-width:$md3+px) {
   		    display: none;
   		}
	}

	::-webkit-scrollbar-thumb {
	    background-color: rgba(171, 178, 186, 0.5);
	    border-radius: 8px;
	    @media (max-width:$md3+px) {
   		    display: none;
   		}
	}

	::-webkit-scrollbar-thumb:hover {
	    background-color: $darkGray;
	}

	scrollbar-color: #999#333;
    scrollbar-width: thin;
}

/////////////////////////////////////////////////////////////////////