////////////////////////// header //////////////////////////

.nav{
	&__body{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px;
	}
	&__menu{
		ul{
			display: flex;
			li{
				padding: 12px;
				font-weight: 500;
			}
		}
		@media (max-width:($md_872+px)) {
			background-color: $white;
			z-index: 50;
			ul{
				flex-direction: column;
			}
		}
		@media (min-width:($md4+px)) and (max-width:($md_872+px)) {
			display: none;
			position: absolute;
			top: 56px;
			left: 16px;
			width: 375px;
			box-shadow: $boxShadow;
			flex-direction: column;
			padding: 16px;
			border-radius: 12px;
			&.active{
				display: block;
			}
		}
		@media (max-width:($md4+px)) {
			display: flex;
			position: fixed;
	        bottom: 0;
	        left: 0;
	        width: 100%;
	        border-radius: 12px 12px 0px 0px;
	        transition: all 0.3s ease 0s;
	        transform: translateY(110%);
			&.active{
				transform: translateY(0%);
				transition: all 0.3s ease 0s;
			}
	    }
	}
	&__overlay{
		display: none;
		@media (max-width:($md4+px)) {
			&.active{
				display: block;
				position: fixed;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background: rgba(0,0,0,0.3);
			    z-index: 39;
			}
		}
	}
	&__burger{
		width: 40px;
		height: 40px;
		background-color: $white;
		position: relative;
		span{
			position: absolute;
			pointer-events: none;
			left: 4px;
			width: 32px;
			height: 3px;
			border-radius: 99px;
			background-color: $black;
			transition: 0.1s ease;
			&:first-child{ top: 8px; }
			&:nth-child(2){ top: 18px; }
			&:last-child{ top: 28px; }
		}
		&.active span{
			transition: 0.1s ease;
			&:first-child{
				top: 18.5px;
				transform: rotate(-45deg);
			}
			&:nth-child(2){ display: none; }
			&:last-child{
				top: 18.5px;
				transform: rotate(45deg);
			}
		}
		@media (min-width:($md_872+px)) {
		    display: none;
		}
	}
}

///////////////////////// useful //////////////////////////

.products{
	&__row{
		display: flex;
		flex-wrap: wrap;
	}
	&__col{
		padding: 16px;
		flex: 0 0 33.333%;
		@media (max-width:$md2+px) {
		    flex: 0 0 50%;
		}
		@media (max-width:$md_608+px) {
			flex: 0 0 100%;
		}
	}
	&__body{
		position: relative;
	}
	&__card{
		box-shadow: 0px 0px 16px rgba(69, 76, 84, 0.08);
		border-radius: 16px;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		> a{
			flex: 1;
			text-decoration: none !important;
			display: flex;
			flex-direction: column;
		}
		transition: all 0.2s ease 0s;
		&:hover{
			transition: all 0.2s ease 0s;
			transform: translateY(-8px);
		}
	}
	&__image{
		position: relative;
		padding-top: 100%;
		width: 100%;
		border-radius: 16px;
		overflow: hidden;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__text{
		padding: 24px 24px 16px 24px;
	}
	&__btn{
		padding: 0 24px 24px 24px;
	}
	&__label{
		position: absolute;
		top: 16px;
		left: 16px;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		> *:not(last-child){
			margin-bottom: 16px;
		}
	}
	&__btnText{
		@media (max-width:1230+px) {
		    //display: none;
		}
	}
	.slick-list{
		@media (max-width:$md_608+px) {
		    padding: 16px 32px 16px 0px;
		}
	}
	&_withSlider{
		.products__col{
			flex: auto !important;
		}
	}
}

/////////////////// Teeth Whitening Kit ///////////////////

.teethKit{
	padding-top: 64px;
	@media (max-width:$md_1150+px) {
	    padding-top: 32px;
	}
	@media (max-width:$md2+px) {
	    padding-top: 16px;
	}
	&__image{
		@media (min-width:$md3+px) {
			text-align: center;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		}
		img{
			max-width: 100%;
			@media (min-width:$md3+px) {
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
			@media (max-width:$md3+px) {
			    margin-top: -58px;
			}
		}
	}
	&__row{
		@media (max-width:$md3+px) {
		    flex-wrap: wrap-reverse;
		}
	}
	&__price{
		@media (max-width:$md2+px) {
		    margin-left: 16px;
		}
	}
}


/////////////////////// before-after //////////////////////

.beforeAfter{
	&__text{
		@media (max-width:$md4+px) {
			padding-bottom: 16px !important;
		}
	}
}

//////////////////////// subscribe ////////////////////////

.subscribe{
	&__text{
		padding: 32px 0 32px 32px;
		@media (max-width:($md3+px)) {
		    padding: 0;
		}
	}
}

//////////// регистрация, вход, забыли пароль /////////////

.auth{
	&__body{
		width: 540px;
		@media (max-width:$md_608+px) {
		    border-radius: 0px;
		    box-shadow: none;
		}
	}
	&__line{
		display: flex;
		justify-content: space-between;
		> * {
			flex: 0 0 calc(50% - 4px);
			height: 4px;
			margin: 0 2px;
			border-radius: 99px;
			background-color: $white;
			&.active{
				background-color: $black;
			}
		}
	}
}

////////////////////////// footer //////////////////////////

.footer{
	&__payments{
		@media (max-width:($md4+px)) {
		    justify-content: center;
		}
	}
	&__logo{
		@media (max-width:($md4+px)) {
		    flex: 0 0 100%;
		    text-align: center;
		}
	}
	&__footer{
		@media (max-width:($md4+px)) {
		    flex: 0 0 100%;
		    justify-content: center;
		}
	}
	&__socials{
		@media (max-width:($md4+px)) {
		    flex: 0 0 100%;
		    margin-right: 0;
		    margin-bottom: 16px;
		    justify-content: center;
		    > * {
		    	margin: 0 8px !important;
		    }
		}
	}
}

///////////////////////////////////////////////////////////