.text-huge{
  font-family: "Spectral";
  font-weight: 600;
  font-size: 80px;
  line-height: 120%;
  @media (max-width:($md3+px)) {
    font-size: 60px;
  }
  @media (max-width:$md4+px) {
      font-size: 32px;
  }
}

.text-big{
  font-family: "Spectral";
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  @media (max-width:($md3+px)) {
    font-size: 28px;
  } 
}

.text-large{
  font-family: "Spectral";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  @media (max-width:$md4+px) {
      font-size: 24px;
  }
}

.text-medium{
  font-family: "NunitoSans";
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}

.text-default-bold{
  font-family: "NunitoSans";
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.text-default{
  font-family: "NunitoSans";
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
}

.text-small{
  font-family: "NunitoSans";
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}